
/*--------------------------------------------------------------
# Feature Split Section
--------------------------------------------------------------*/
  
.feature-split {
  display: flex;
  gap: var(--spacing-xl);

  &__media { flex: 1; }
  &__content { flex: 1; }

  &--img-left {
    flex-direction: row;
  }

  &--img-right {
    flex-direction: row-reverse;
  }
}

 

 

  
